Label{-fx-font-size: 20;}

TextField{
    -fx-font-size: 14;
    -fx-focus-color: transparent;
    -fx-background-radius: 10;
}

CheckBox{
    -fx-font-size: 20;
    -fx-focus-color: transparent;
    -fx-background-color: rgba(48, 22, 22, 0.5);
}

ComboBox{-fx-font-size: 14;}

Button{-fx-background-color: transparent;}

VBox{-fx-alignment: center;}

ScrollPane{
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#Highlight{
    -fx-text-fill: Green;
    -fx-font-family: Dimbo;
}
#GameOverLabel{
    -fx-text-fill: White;
    -fx-font-family: Dimbo;
}